/.config/*

!/.config/alacritty

!/.config/emacs
/.config/emacs/*
!/.config/emacs/init.el
!/.config/emacs/inits
!/.config/emacs/themes

!/.config/fish
/.config/fish/*
!/.config/fish/config.fish
!/.config/fish/functions

!/.config/git

!/.config/karabiner
/.config/karabiner/*
!/.config/karabiner/karabiner.json

!/.config/tmux
